0.0.0.0:2015 {
    gzip
    log / /logs/requests.log "{common}" {
    	rotate_size 50  # Rotate after 50 MB
    	rotate_age  90  # Keep rotated files for 90 days
    	rotate_keep 10  # Keep at most 10 log files
    	rotate_compress # Compress rotated log files in gzip format
    }
    errors / /logs/errors.log "{common}" {
    	rotate_size 50  # Rotate after 50 MB
    	rotate_age  90  # Keep rotated files for 90 days
    	rotate_keep 10  # Keep at most 10 log files
    	rotate_compress # Compress rotated log files in gzip format
    }
    fastcgi / 127.0.0.1:9000 php # php variant only
    startup php-fpm7 & # php variant only
}
